In [78]:
table = [ {'age': 32, 'gender': 'm', 'loc': 'Germany', 'val': 4233},
{'age': 23, 'gender': 'f', 'loc': 'US', 'val': 11223},
{'age': 31, 'gender': 'f', 'loc': 'France', 'val': 3234},
{'age': 41, 'gender': 'm', 'loc': 'France', 'val': 2230},
{'age': 19, 'gender': 'm', 'loc': 'Germany', 'val': 42},
{'age': 21, 'gender': 'f', 'loc': 'France', 'val': 3315},
{'age': 23, 'gender': 'm', 'loc': 'Italy', 'val': 520}
 ]
def group_aggregate(groupby, field,agg):
    header = {"age" : "age", "gender" : "gender", "loc": "country", "transactions" : "val"}
    print ("aggregating: %s" %header[field])
    groupby_field =   [(row[header[groupby]], row[header[field]]) for row in table]
    unique =  set((value_groupby) for (value_groupby, value_field) in groupby_field)
    for element in unique:
        c = agg([value_field for (value_groupby, value_field) in groupby_field])
        print (c)

In [11]:


def group_aggregate(groupby, field,agg, table):

    table = [ {'age': 32, 'gender': 'm', 'loc': 'Germany', 'val': 4233},
{'age': 23, 'gender': 'f', 'loc': 'US', 'val': 11223},
{'age': 31, 'gender': 'f', 'loc': 'France', 'val': 3234},
{'age': 41, 'gender': 'm', 'loc': 'France', 'val': 2230},
{'age': 19, 'gender': 'm', 'loc': 'Germany', 'val': 42},
{'age': 21, 'gender': 'f', 'loc': 'France', 'val': 3315},
{'age': 23, 'gender': 'm', 'loc': 'Italy', 'val': 520}
 ]

In [79]:

group_aggregate(
groupby = 'gender',
field = 'transactions',
agg = sum)

aggregating: val
24797
24797

In [70]:
group_aggregate(
groupby = 'gender',
field = 'age',
agg = min )

aggregating: age
m 32
f 23
f 31
m 41
m 19
f 21
m 23

In [71]:
group_aggregate(
groupby = 'Country',
field = 'age',
agg = max )

aggregating: age

KeyError: 'Country'